@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
}