.pc {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-image: url("../img/pc/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px 0;
    font-family: "Montserrat";
    min-height: 100vh;
}

.pc > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pc-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pc-form-1 {
    margin-right: 150px; 
}

.pc-form-1 > input {
    margin: 0;
    height: 100%;
    font-size: 15px;
    padding: 6px 15px;
}

.pc-form-1 > input:nth-of-type(1) {
    background-color: rgba(255, 255, 255, .8);
    box-shadow: inset 2px 2px 30px rgba(0, 0, 0, 0.25);
    border: 1px solid #478ECC;
    width: 40vw;
}

.pc-form-1 > input:nth-of-type(2) {
    background-color: #478ECC;
    color: white;
    border-right: none;
    cursor: pointer;
    border: none;
}

.pc-form-1 > input:nth-of-type(2):hover {
    background-color: white;
    color: #478ECC;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #478ECC;
    border-left: none;
}

.pc-form-2 > input {
    background-color: #478ECC;
    color: white;
    padding: 8px 39px;
    border-right: none;
    cursor: pointer;
    font-size: 15px;
    border: none;
}

.pc-form-2 > input:hover {
    background-color: white;
    color: #478ECC;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
}

.pc-2 {
    display: flex;
    flex-direction: column;

}

.pc-title {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.pc-tiles {
    display: flex;
    justify-content: space-between;
}

.pc-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 7vh;
    background-color: #478ECC;
    color: white;
    font-family: "Montserrat-Regular";
    cursor: pointer;
    transition: 1s;
    margin-bottom: 20px;
    padding: 10px;
}

.pc-tile > span {
    margin-top: 10px;
    font-size: 0.9375vw;
}

.pc-tile > div {
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 25px;
    background-size: contain;
}

.pc-tile:hover {
    background-color: white;
    color: #478ECC;
    transform: scale(1.05);
    transition: 1s;
}

.pc-tile-img-1 {
    background-image: url("../img/admin/tile-1.png");
    transition: .5s;
}

.pc-tile-img-2 {
    background-image: url("../img/admin/tile-2.png");
    transition: .5s;
}

.pc-tile-img-3 {
    background-image: url("../img/admin/tile-3.png");
    transition: .5s;
}

.pc-tile-img-4 {
    background-image: url("../img/admin/tile-4.png");
    transition: .5s;
}

.pc-tile-1:hover .pc-tile-img-1 {
    background-image: url("../img/admin/tile-1-blue.png");
    transition: .5s;
}

.pc-tile-2:hover .pc-tile-img-2 {
    background-image: url("../img/admin/tile-2-blue.png");
    transition: .5s;
}

.pc-tile-3:hover .pc-tile-img-3 {
    background-image: url("../img/admin/tile-3-blue.png");
    transition: .5s;
}

.pc-tile-4:hover .pc-tile-img-4 {
    background-image: url("../img/admin/tile-4-blue.png");
    transition: .5s;
}

.pc-star {
    background-color: rgba(255, 255, 255, .8);
    box-shadow: inset 2px 2px 30px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.pc-star > span {
    font-size: 1.1875vw;
}

.pc-star > div {
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    padding: 10px 60px;
    font-size: 0.9375vw;
    background-color: rgb(71, 142, 205);
    color: white;
    margin-top: 20px;
    font-family: "Montserrat-Regular";
    text-align: center;
}

.pc-star > div:hover {
    color: #478ECC;
    transition: .5s;
    background-color: white;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
}


.pc-3 > div:nth-of-type(1) {
    background: linear-gradient(to right, rgba(0, 0, 0, .7), white, rgba(0, 0, 0, .7));
    width: 100%;
    margin: 20px;
    height: 1px;
}

.pc-3 > div:nth-of-type(2) {
    font-family: "Montserrat-Regular";
    color: white;
    text-align: center;
    font-size: 14px;
}
